# python 3.10.12
# pip==22.0.2 wheel==0.37.1 setuptools==59.6.0
numpy==1.23.0
opencv-python==4.8.1.78
opencv-python-headless
# these are needed if you are using conda env
# empy==3.3.4
# catkin_pkg
# lark
pandas
pyqt5==5.15.6
serial
pyserial
mediapipe==0.10.8